.question {
  width: 500px;
  margin: auto;
  display: none;
}

.is-active {
  display: block;
}

.hide {
  display: none;
}

.response {
  display: block;
}

#show-first {
  display: block;
  margin: auto;
}
