.quiz, .results {
  display: none;
}

.question {
  width: 500px;
  margin: auto;
  display: none;
}

.is-active {
  display: block;
}

.hide {
  display: none;
}

.response {
  display: block;
}

.results {
  width: 40%;
  margin: auto;
}


p.make-selection {
  display: none;
  font-size: small;
  text-align: center;
  line-height: 3em;
  color: red;
  text-decoration: underline;
}

#show-first {
  display: block;
  margin: auto;
}

#submit {
  display: none;
}
